<%- include("partials/header") -%>

<main class="dashboard col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Contacts</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    <div class="container">
        <div>
          <button class="btn btn-primary contact-btn">+ Add Contact</button>
        </div>
        <div class="contact-list">
            <nav class="navbar navbar-light bg-light navbar-fixed-top">    
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </nav>
            <ul class="contacts-list">
                <li>Test</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
                <li>Test1</li>
                <li>Test2</li>
                <li>Test3</li>
            </ul>
        </div>
    </div>

</main>

<%- include("partials/footer") -%>