<%- include("partials/header") -%>

<main class="dashboard col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Eric Heiden</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    

    <a href="/eheiden">Back</a>
    <br>
    <h6>Encounter Date:</h6> <p>March 15, 2021</p>
    <h6>Encounter type:</h6> <p>Office Visit</p>
    <h6>Encounter notes:</h6>
    <p>Dropped off flyers and referral pads. Spoke with Dr. Heiden's MA, they are very happy with care their patients are getting and states she will continue to look for people to send to us.</p>
    
    <h6>Next action:</h6> <p>Follow-up with phone call</p>
    <h6>Next action deadline:</h6> <p>April 1, 2021</p>
    

</main>

<%- include("partials/footer") -%>